.upload-excel-Managepartmaster {
    position: relative;
    top: 1rem;
    left: 1rem;
}

.upload-text-Managepartmaster {
    display: flex;
    /* flex-wrap: wrap; */
}

.fistline-Managepartmaster {
    border-bottom: 1px solid #ccc;
    height: 60px;
    display: flex;
    gap: 1rem;
    padding: 10px;
    margin: 10px;
}

.upload-Managepartmaster {
    position: relative;
    left: 5rem;
    height: 5vh;
    top: 5px;
    width: 10rem;
    text-align: center;
    border-radius: 7px;
    background-color: #32499F;
    color: white;
    height: 5vh;
}

.input-Managepartmaster {
    width: 90%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
    margin-bottom: 10px;
    border-width: 0 0 2px 0;
}

.uploadcontainer-Managepartmaster {
    background-color: #EFF3FE;
    margin: 30px 10px 10px 10px;
    border-radius: 4px;
    display: flex;
    gap: 2rem;
}

.Uicontainer-Managepartmaster {
    background-color: #EFF3FE;
    margin: 10px;
    border-radius: 4px;
}

.name-Managepartmaster {
    position: relative;
    top: 8px;
    left: 10px;
    font-weight: bold;
}

.line-Managepartmaster {
    display: flex;
    justify-content: space-between;
    margin: 10px;
}

.textinput-Managepartmaster {
    width: 20%;
}


.button-Managepartmaster {
    display: flex;
    gap: 1rem;
    margin: 30px 10px 6px 10px;
    padding-bottom: 10px;
}

.table-Managepartmaster {
    margin: 10px;
    overflow: auto;
}

@media only screen and (max-width: 666px) {
    .container-Managepartmaster {
        overflow: hidden;
        position: relative;
        left: 0;
    }

    .upload-text-Managepartmaster {
        display: flex;
        flex-wrap: wrap;
    }

    .upload-text-Managepartmaster {
        position: relative;
        bottom: 1rem;
    }

    .line-Managepartmaster {
        flex-direction: column;
        display: flex;
    }

    .textinput-Managepartmaster {
        width: 100%;
    }

    .table-Managepartmaster {
        width: 100%;
        overflow: scroll;
    }

    .uploadcontainer-Managepartmaster {
        flex-direction: column;
        gap: 2rem;
    }
}