.firstbox-Usermaster {
    border-bottom: 1px solid #ccc;
    padding-top: 20px;
    padding-left: 25px;
    height: 65px;
}

.fistline-Usermaster {
    border-bottom: 1px solid #ccc;
    height: 60px;
    display: flex;
    gap: 1rem;
    padding: 10px;
    margin: 10px;
}

.Usermaster-container {
    background-color: #EFF3FE;
    margin: 10px;
    border-radius: 5px;
}

.ui-Usermaster {
    background-color: #EFF3FE;
    margin: 10px;
    border-radius: 5px;
}

.checkboxwithname-Usermaster {
    position: relative;
    top: 35px;
    left: 20px;
    display: flex;
    gap: 25x;
}

.createuu-Usermaster {
    display: flex;
    align-items: center;
    position: relative;
    left: 16px;
}

.rediobutton-Usermaster {
    display: flex;
    gap: 10px;
}

.first-rediobutton-Usermaster,
.secound-rediobutton-Usermaster {
    display: flex;
    align-items: center;
    gap: 5px;
}

.fistline-Usermaster {
    border-bottom: 1px solid #ccc;
    padding-top: 20px;
    padding-left: 25px;
    height: 60px;
}

.name2-Usermaster {
    position: relative;
    top: 10px;
    left: 10px;
}

.line-Usermaster {
    display: flex;
    justify-content: space-between;
    margin: 10px;
}

.textinput-Usermaste {
    width: 20%;
}


.button-Usermaster {
    display: flex;
    gap: 1rem;
    margin: 30px 10px 6px 10px;
    padding-bottom: 10px;
  }

.create-Usermaster {
    width: 10rem;
    text-align: center;
    border-radius: 7px;
    background-color: #32499F;
    color: white;
    height: 5vh;
}

.cancel-Usermaster {
    width: 10rem;
    text-align: center;
    border-radius: 7px;
    background-color: #32499F;
    color: white;
    height: 5vh;
    margin-left: 3px;
}

.upload-excel-Usermaster {
    position: relative;
    top: 1rem;
    left: 1rem;
}

.upload-text-Usermaster {
    display: flex;
   
}

.upload-Usermaster {
    position: relative;
    left: 10px;
    height: 5vh;
    top: 5px;
    width: 10rem;
    text-align: center;
    border-radius: 7px;
    background-color: #32499F;
    color: white;
    height: 5vh;
}

.input-Usermaster {
    width: 90%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
    margin-bottom: 10px;
    border-width: 0 0 2px 0;
}

.uploadcontainer-Usermaster {
    background-color: #EFF3FE;
    margin: 30px 10px 10px 10px;
    border-radius: 4px;
    display: flex;
    gap: 2rem;
    width: 50%;
}

.downloadtemp-Usermaster {
    background-color: #EFF3FE;
    margin: 0px 10px 10px 10px;
    border-radius: 4px;
    display: flex;
    gap: 2rem;
    height: 5vh;
    margin-top: 40px;
    display: flex;
    align-items: center;
}

.excelwithlinkable-Usermaster {
    display: flex;
    gap: 4rem;
}

@media screen and (max-width: 600px) {

    .line-Usermaster {
        flex-direction: column;
        display: flex;
    }

    .textinput-Usermaste {
        width: 80%;
        align-self: center;
        margin-top: 10px;
    }

    .button-Usermaster {
        display: flex;
        margin-top: 50px;
        flex-direction: row;
        justify-content: space-around;
    }

    .upload-text-Usermaster {
        flex-direction: column;
    }

    .excelwithlinkable-Usermaster {
        flex-direction: column;
    }

    .uploadcontainer-Usermaster {
        width: 100%;
    }
}