.firstname-Changepassword {
    border-bottom: 1px solid #ccc;
    padding-top: 20px;
    padding-left: 25px;
    height: 60px;
    font-size: x-large;
    position: relative;
    bottom: 20px;
}

.line-Changepassword {
    display: flex;
    justify-content: space-between;
    margin: 10px;
    padding: 5px;
}

.textinput-Changepassword {
    width: 20%;
}

.textfiled-Changepassword,
.noecord {
    background-color: #EFF3FE;
    margin: 10px;
    border-radius: 4px;
}

.date-Changepassword {
    width: 100%;
    border: none;
}

.button-Changepassword {
    display: flex;
}

@media (max-width: 600px) {
    .line-Changepassword {
        flex-direction: column;
    }

    .textinput-Changepassword {
        width: 100%;
    }
}