.autocompleteform-Managesku {
    background-color: #EFF3FE;
    margin: 10px;
    border-radius: 5px;
}

.fistline-Managesku {
    border-bottom: 1px solid #ccc;
    height: 60px;
    display: flex;
    gap: 1rem;
    padding: 10px;
    margin: 10px;
}

.name2-Managesku {
    position: relative;
    top: 10px;
    left: 10px;
}

.line-Managesku {
    display: flex;
    justify-content: space-between;
    margin: 10px;
}

.textinput-Managesku {
    width: 20%;
}

.button-Managesku {
    display: flex;
    gap: 1rem;
    margin: 30px 10px 6px 10px;
    padding-bottom: 10px;
}

.table-Managesku {
    margin: 10px;
    overflow: auto;
}

@media screen and (max-width: 600px) {
    .line-Managesku {
        flex-direction: column;
        display: flex;
    }

    .textinput-Managesku {
        width: 100%;
    }

    .table-Managesku {
        width: 100%;
        overflow: scroll;
    }
}