.autocompleteform-Managelocality {
    background-color: #EFF3FE;
    margin: 10px;
    border-radius: 5px;
}

.fistline-Managelocality {
    border-bottom: 1px solid #ccc;
    height: 60px;
    display: flex;
    gap: 1rem;
    padding: 10px;
    margin: 10px;
}

.line-Managelocality {
    display: flex;
    justify-content: space-between;
    margin: 10px;
}

.textinput-Managelocality {
    width: 20%;
}

.button-Managelocality {
    display: flex;
    gap: 1rem;
    margin: 30px 10px 6px 10px;
    padding-bottom: 10px;
}
.table-Managelocality {
    margin: 10px;
    overflow: auto;
}

@media screen and (max-width: 600px) {
    .line-Managelocality {
        flex-direction: column;
        display: flex;
    }
    .textinput-Managelocality {
        width: 100%;
    }
    .button-Managelocality {
        display: flex;
        margin-top: 20px;
        flex-direction: row;
        justify-content: space-around;
    }

    .table-Managelocality {
        width: 100%;
        overflow: scroll;
    }
}