.firstbox-Logproductcomplaint {
    position: relative;
    top: 4px;
}


.Logproductcomplaint-container {
    width: 100%;
    background-color: #EFF3FE;
    height: 72vh;
    margin: 6px 1px 1px 6px;
    /* overflow: scroll; */

}

.heading-Logproductcomplaint {
    position: relative;
    top: 20px;
    left: 20px;
}

.text-auti-form-Logproductcomplaint {
    position: relative;
    top: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin: 0px 15px 0px 23px;
    top: 4px;
}

.text-auti-form2-Logproductcomplaint {
    position: relative;
    top: 5rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin: 0px 22px 0px 18px;
}

.firstline-Logproductcomplaint {
    display: flex;
    flex-wrap: wrap;
    gap: 6rem;
}

.Secoundline-Logproductcomplaint {
    display: flex;
    flex-wrap: wrap;
    gap: 5rem;
    position: relative;
    top: 3rem;
}

.Secound-text-Logproductcomplaint {
    position: relative;
    top: 3rem;
}


.auto-Logproductcomplaint {
    width: 18%;
}

.textinput-Logproductcomplaint {
    width: 18%;
}

.heading2-Logproductcomplaint {
    position: relative;
    top: 70px;
    left: 20px;
}

.upload-text-Logproductcomplaint {
    display: flex;
    position: relative;
    top: 7rem;
    gap: 1rem;
    width: 100%;
}

.input-Logproductcomplaint {
    width: 20%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
    margin-bottom: 10px;
    border-width: 0 0 2px 0;
}

.table-container-Logproductcomplaint {
    width: 100%;
    position: relative;
    top: 5rem;
    left: 1rem;
    height: 13vh;
}



.custom-table-Logproductcomplaint {
    border-collapse: collapse;
    width: 80%;
    margin-top: 20px;
    border: 1px solid #ccc;
}

.custom-table-Logproductcomplaint th,
.custom-table-Logproductcomplaint td {
    /* border: 1px solid #ccc; */
    padding: 8px;
    text-align: center;
}

.custom-table-Logproductcomplaint th {
    background-color: #32499F;
    color: white;
}

.custom-table-Logproductcomplaint tr {
    background-color: white;
    color: black;
}

.custom-table-Logproductcomplaint tbody tr:nth-child(even) {
    background-color: #f8f8f8;
}

ctcomplaint {
    width: 58%;
}

.firstline-Logproductcomplaint {
    gap: 16px;
}

.input-Logproductcomplaint {
    width: 61%;
}

.textinput-Logproductcomplaint {
    width: 100%;
}


.buttons-Logproductcomplaint {
    display: flex;
    position: relative;
    top: 6rem;
    gap: 1rem;
    left: 25px;
}

.Search-Logproductcomplaint {
    width: 12%;
    text-align: center;
    border-radius: 7px;
    background-color: #32499F;
    color: white;
    height: 5vh;
}

.Reset-Logproductcomplaint {
    width: 12%;
    text-align: center;
    border-radius: 7px;
    background-color: #32499F;
    color: white;
    height: 5vh;
}

.button-create--Logproductcomplaint {
    position: relative;
    left: 4rem;
}

.createcustomer-Logproductcomplaint {
    width: 120%;
    text-align: center;
    border-radius: 7px;
    background-color: #32499F;
    color: white;
    height: 5vh;

}

@media (max-width: 600px) {
    .firstline-Logproductcomplaint {
        flex-direction: column;
    }

    .Logproductcomplaint-container {
        height: 130vh;
        overflow: hidden;
    }

    .table-container-Logproductcomplaint {
        overflow: scroll;
        height: 20vh;
    }

    .Secoundline-Logproductcomplaint {
        gap: 1rem;
    }

    .buttons-Logproductcomplaint {
        top: 7rem;
    }

    .table-container-Logproductcomplaint {
        left: 0rem;
    }

    .Reset-Logproductcomplaint {
        width: 14%;
    }
}