.autocompleteform-Customercategory {
    background-color: #EFF3FE;
    margin: 10px;
    border-radius: 5px;
}

.fistline-Customercategory {
    border-bottom: 1px solid #ccc;
    height: 60px;
    display: flex;
    gap: 1rem;
    padding: 10px;
    margin: 10px;
}

.name2-Customercategory {
    position: relative;
    top: 10px;
    left: 10px;
}

.line-Customercategory {
    display: flex;
    justify-content: space-between;
    margin: 10px;
}

.textinput-Customercategory {
    width: 20%;
}

.button-Customercategory {
    display: flex;
    gap: 1rem;
    margin: 30px 10px 6px 10px;
    padding-bottom: 10px;
}

.table-Customercategory {
    margin: 10px;
    overflow: auto;
}

@media screen and (max-width: 600px) {

    .line-Customercategory {
        flex-direction: column;
        display: flex;
    }


    .textinput-Customercategory {
        width: 100%;
    }

    .table-Customercategory {
        width: 100%;
        overflow: scroll;
    }
}