.container-Cap {
    background-color: #EFF3FE;
    overflow: hidden;
}

.n-service-Cap {
    text-align: center;
    position: relative;
    top: 40px;
    right: 4rem;
}

.form-Cappagemain {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    height: 100vh;
}

.form-nural-service {
    background-color: white;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.formfirst-Cappage {
    max-width: 500px;
    margin: 20px;
    padding: 20px;
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 20px;
    margin-top: 10vh;
    width: calc(100% - 40px);
    box-shadow: 4px 2px 4px rgb(110, 142, 237);
    min-width: 381px;
    height: 550px;
    position: relative;
}

.l-y-a {
    text-align: center;
    font-size: xx-large;
    margin-bottom: 20px;
    color: rgb(57 53 53);
    font-size: x-large;
}

.form-group {
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.text-lable {
    font-weight: bold;
}

.text-input {
    width: 100%;
    padding: 10px;
    border: none;
    border-bottom: 0.1px solid #9a8989;
    border-radius: 5px;
    margin-top: 5px;
    height: 50px;
}

.toggle-password {
    cursor: pointer;
}

.r-f {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

.checkbox {
    margin-right: 5px;
}

.button {
    background-color: rgb(57 53 53);
    border-radius: 10px;
    box-shadow: 4px 2px 4px rgb(71, 68, 68);
    color: #fff;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
    width: 100%;
}

.Cap-here {
    display: block;
    text-align: center;
    margin-top: 20px;
    font-weight: bold;
    text-decoration: none;
    color: #007bff;
}

.Cap-here:hover {
    text-decoration: underline;
    color: #0056b3;
}

.powerdby-cap {
    width: 180px;
    position: relative;
    left: 10rem;
}

.side-image-Cap {
    display: flex;
    flex-direction: column;
    width: 40%;
}

.side-image-first {
    width: 98%;
}

@media (max-width: 768px) {
    .formfirst-Cappage {
        width: calc(100% - 20px);
        margin: 10px;
    }

    .formfirst-Cappage {
        max-width: 100%;
    }

    .side-image-Cap {
        width: 100%;
    }

    .powerdby-cap {
        left: 6rem;
    }

    .n-service-Cap {
        right: 0px;
    }

    .container-Cap {
        overflow: scroll;
    }
}