.container-Uploadentitydetail {
    display: flex;
    position: relative;
    width: 100%;
    background-color: #EFF3FE;
    left: 5px;
    top: 5px;
    gap: 6rem;
    flex-wrap: wrap;
}

.upload-excel-Uploadentitydetail {
    position: relative;
    top: 1rem;
    left: 1rem;
}

.upload-text-Uploadentitydetail {
    display: flex;
    /* flex-wrap: wrap; */
}

.upload-Uploadentitydetail {
    position: relative;
    left: 5rem;
    height: 5vh;
    top: 5px;
}

@media only screen and (max-width: 666px) {
    .container-Uploadentitydetail {
        overflow: hidden;
        position: relative;
        left: 0;
    }

    .upload-text-Uploadentitydetail {
        display: flex;
        flex-wrap: wrap;
    }

    .upload-text-Uploadentitydetail {
        position: relative;
        bottom: 1rem;
    }
}